<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="extension">
            <h2><span jhiTranslate="subtitleSyncApp.extension.detail.title">Extension</span> {{ extension.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="subtitleSyncApp.extension.name">Name</span></dt>
                <dd>
                    <span>{{ extension.name }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/extension', extension.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
